<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()"><% return "welcome" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
  from django.conf import settings
  from django.utils.translation import gettext as _
  from urllib.parse import quote_plus
  from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="title">${_("Добро пожаловать")}</%block>
<%block name="bodyclass">not-signedin index view-howitworks</%block>

<%block name="content">

<style>
  body {
    background-image: url('${static.url("images/bg_big.png")}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }
</style> 

</%block>
